{% extends 'patientheader.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Add Prescription</title> -->
</head>
<body>
    <form action=" " method="POST">
    <div class="row">
        <div class="col-12 col-sm-6">Upload X-RAY</div>
            {% csrf_token %}
            {{form.upload}}
        </div>
        <tr>
        
        </tr>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    </body>
</html>
{% endblock %}