<h2>View Appointments:</h2>
<table border="1" class="table table-striped">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Action</th>
            <th>Prescription</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.patient_register.patient_name }}</td> <!-- Access patient name -->
            <td>{{ appointment.patient_register.gender }}</td>  <!-- Access gender -->
            <td>{{ appointment.patient_register.age }}</td>  <!-- Access age -->
            <td>{{ appointment.date }}</td>  <!-- Access appointment date -->
            <td>{{ appointment.time }}</td>  <!-- Access appointment time -->
                {% if appointment.cancel_status == 1 %}
                    <td>Cancelled</td>
                {% else %}
                    <td>Scheduled</td>
                {% endif %}
                {% if appointment.refund_status == 1 %}
                    <td>Refunded</td>
                {% else %}
                <td><a href="{% url 'refund' appointment.id fee.consultation_fee %}">REFUND</a></td>
                {% endif %}
                {% if appointment.prescription_status == 1 %}
                    <td>{{appointment.prescription}}</td>
                {% else %}
                <td><a href="{% url 'add_prescription' appointment.id %}">ADD PRESCRIPTION</a></td>
                {% endif %}
            <td><a href="{% url 'editprescription' appointment.id %}">EDIT</a></td>
            <td><a href="{% url 'delete_prescription' appointment.id %}">DELETE</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No appointments scheduled.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
