<!-- viewappointment.html -->
<h2>View Appointments:</h2>
    <table border="1" class="table table-stripped">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.patient_register.patient_name }}</td> <!-- Access patient name -->
            <td>{{ appointment.patient_register.gender }}</td>  <!-- Access gender -->
            <td>{{ appointment.patient_register.age }}</td>  <!-- Access age -->
            <td>{{ appointment.date }}</td>  <!-- Access appointment date -->
            <td>{{ appointment.time }}</td>  <!-- Access appointment time -->
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No appointments scheduled.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

