{% extends 'docheader.html' %}
{% block content %}


<center>
    <table border="1" class="table table-stripped">
        <tr>
            <th>Hospital Name</th>
            <th>Notification</th>
        </tr>
        {% for a in data %}
        <tr>
        <td>{{a.doctor_register.doc_name}}</td>
        <td>{{a.prescription}}</td>
    </tr>
    {% endfor %}
    </table>
    
{% endblock %}

    <h2>Appointment Records</h2>
    <table border="1" class="table table-striped">
        <thead>
            <tr>
                <th>Doctor Name</th>
                <th>Department</th>
                <th>Prescription</th>
                
            </tr>
        </thead>
        <tbody>
            {% for detail in doctor_details %}
                <tr>
                    <td>{{ detail.login_id.login_id.doc_name }}</td> 
                    <td>{{ detail.login_id.login_id.department }}</td>
                    <td>{{ detail.prescription }}</td>
                   
                </tr>
            {% endfor %}
        </tbody>
    </table>
</center>
