{% extends 'patientheader.html' %}

{% block content %}
<!-- viewappointment.html -->
<h2>View Appointments:</h2>
    <table border="1" class="table table-stripped">
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Department</th>
            <th>Date</th>
            <th>Time</th>
            <th>Prescription</th>

        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.doctor_register.doc_name }}</td> <!-- Access patient name -->
            <td>{{ appointment.doctor_register.department }}</td>  <!-- Access gender -->
            <td>{{ appointment.date }}</td>  <!-- Access appointment date -->
            <td>{{ appointment.time }}</td>  <!-- Access appointment time -->
            <td>{{ appointment.prescription }}</td>
            <td>
                <a href="{% url 'editviewapp' appointment.id %}">EDIT</a></td>
               <td> <a href="{% url 'delete_appointment' appointment.id %}">DELETE</a>

            </td>
            {% if appointment.cancel_status == 1 %}
             
            <td> cancelled </td>  
            {% else %}
            <td><a href="{% url 'appointment_cancel' appointment.id %}">CANCEL</a></td>
            {% endif %}

            <td>
                {% if appointment.refund_status == 1 %}
                    Refunded
                
                {% endif %}
            </td>
            <td><a href="{{appointment.url}}">VIDEO CONFERENCE</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No appointments scheduled.</td>
        </tr>
        {% endfor %}
    </tbody>
</table> 
{% endblock %}

